@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="btn-group">
                @Html.Action("Summary", "Cart")
            </div>>
            <div class="btn-group">
                <!-- Кнопка -->
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @User.Identity.GetUserName()
                </button>
                <!-- Меню -->
                <div class="dropdown-menu">
                    <a class="dropdown-item"> @Html.ActionLink("Изменить пароль", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) </a>
                    <a class="dropdown-item"> @Html.ActionLink("Просмотреть профиль", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) </a>
                    <a class="dropdown-item"> @Html.ActionLink("Имена входв", "ManageLogins", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) </a>
                </div>
            </div>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Зарегистрироваться", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
